<ul class="nav nav-sidebar">
  {{#nav-item}}
    <a href="#">
      <span class="icon icon-eye-open"></span>
      <span class="text">Inspections</span>
      <span class="icon icon-chevron-left pull-right"></span>
    </a>
  {{/nav-item}}
</ul>
