{{#application/swd-page-header title="Inspections"}}
  {{#link-to "inspections.new" class="btn btn-success" icon="add"}}
    <span class="icon icon-add"></span>New Inspection
  {{/link-to}}
{{/application/swd-page-header}}
<div class="row">

</div>
