<div id="wrapper" class="container-fluid ">
    <div class="row">
        <div class="col-sm-3 col-md-2 hidden-xs sidebar" id="main-sidebar">
          {{#menu/swd-item title='inspection'}}
            {{#link-to 'dashboard.inspections' activeClass='selected' tagName='li'}}
              <a href="#">Inspections</a>
            {{/link-to}}
            {{#link-to 'dashboard.inspection-scopes' activeClass='selected' tagName='li'}}
              <a href="#">Scopes</a>
            {{/link-to}}
          {{/menu/swd-item}}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="main-part">
          {{outlet}}
        </div>
    </div>
</div>
