<div class="content-header page-header">
  <div class="row">
    <h1 class="col-sm-6">
      {{yield title}}
    </h1>
    <div class="col-sm-6 page-actions">
      {{yield actions}}
    </div>
  </div>
</div>
